@font-face {
  font-family: "ms_sans_serif";
  src: url("../fonts/w95fa.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* @font-face {
  font-family: "ms_sans_serif";
  src: url("react95/dist/fonts/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
} */
body,
input,
select,
textarea {
  font-family: "ms_sans_serif" !important;
}
body {
  background-color: #018181;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #fff; */
  text-decoration: none;

  line-height: 1.5;
  /* display: flex; */

  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;
}


.weather-container {
  margin:50px;
margin-right:20px;
margin-bottom: 20px;
margin-top:35px;
padding-bottom:30px;

}

.weather-box {
 width:36.5vw;
 height: 20vw;
}
.news-container {
  margin:20px;
}

.news-scroll-container {
 width: 51.5vw;
 height: 20vw;
}
.news-module {
  display: flex;

}
.news-box {
  width:12.2vw;
 height: 18.8vw;
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding:7px;
  
}
.news-image-box{
  width: 12.2vw;
  height: 8vw;
  background-color: red;
}
.news-title {
  font-size: 24px;
  font-weight: 800;
  overflow: hidden;
}
.forcast-container {
  margin-left:50px;
  margin-right:50px;
  margin-top:0px;
}

.forcast-box {
 width: 92.4vw;
 height:15vw;
}

.temperature {
  width: 35vw;
  height: 13vw;
  display:flex;
  justify-content: center;
  align-items: center;

}
.temp-num{
  font-size: 120px;
  font-weight: bold;
}

.weather-attr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-attr p {
  font-size: 25px;
  font-weight: bold;
}